/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: grey;
    box-sizing: border-box;
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    background-image: url("images/forest-1404071-1280x960.jpg");
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.container {
    width: 100%;
    padding: 10px;
    background-color: white;
    position: relative;
    text-align: center;
}

section {
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: white;
    text-align: center;
}

.vertical-center {
    width: auto;
    margin: 0;
    text-align: center;
    position: absolute;
    /* position: relative; */
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.grid-container-121 {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 25% 50% 25%;
    background-color: white;
    padding: 10px;
}

.grid-container-1341 {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 10% 35% 45% 10%;
    background-color: white;
    padding: 10px;
}

.grid-container-4 {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 15% 35% 35% 15%;
    background-color: white;
    padding: 10px;
}

.grid-container-3 {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 33.33% 33.33% 33.33%;
    background-color: white;
    padding: 10px;
}

.grid-container-2 {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 50% 50%;
    background-color: white;
    padding: 10px;
}

.grid-container-1 {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 80%;
    background-color: white;
    padding: 10px;
}

.grid-item {
    /* background-color: white; */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    margin: auto;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.grid-item img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

article div {
    height: auto;
}

footer {
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: grey;
    padding: 20px;
    width: 100%;
    height: auto;
    text-align: center;
}

footer ol {
    font-size: 16px;
}

footer ol li {
    padding: 10px;
    display: inline;
}

.clearfix {
    overflow: auto;
}

nav {
    height: 50px;
    background: white;
}

nav img {
    position: absolute;
    /* width: 150px; */
    top: 5px;
    left: 8%;
}

nav ul {
    float: right;
    margin-right: 8vw;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0;
}

nav ul li a {
    position: relative;
    padding: 5px;
    color: black;
    font-size: 18px;
    /*  text-transform: uppercase; */
}

nav ul li a:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: grey;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

nav select {
    position: absolute;
    /* width: 150px; */
    top: 15px;
    left: 93%;
}

button {
    background-color: white;
    color: black;
    border: none;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: .5s;
    cursor: pointer;
}

button:hover {
    /* background-color: grey;
    color: white;
    border-radius: 12px;*/
    border-style: solid;
    border-color: grey;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 3px;
    font-weight: bolder;
}

label #btn,
label #cancel {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 1118px) {
    nav img {
        left: 8%;
    }
}

@media (max-width: 944px) {
    nav img {
        width: 130px;
        top: 0px;
        left: 6%;
    }
    nav ul li a {
        font-size: 17px;
    }
    .grid-container-4 {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: 1% 49% 49% 1%;
        background-color: white;
        padding: 10px;
    }
}


/* @media (max-width: 860px) { */

@media (max-width: 750px) {
    label #btn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    #check:checked~ul {
        left: 0;
    }
    #check:checked~label #btn {
        display: none;
    }
    #check:checked~label #cancel {
        display: block;
    }
    [class*="grid-container-"] {
        display: grid;
        grid-template-columns: auto;
        background-color: white;
        padding: 10px;
    }
    #Logo {
        width: 50px !important;
        height: 50px !important;
    }
    footer ol li {
        padding: 3px;
        display: block;
    }
    button {
        font-size: 20px;
    }
    nav select {
        position: absolute;
        /* width: 150px; */
        top: 15px;
        left: 45%;
    }
}


/*
@media (max-width: 600px) {
.vertical-center {
  width: auto;
  margin: 0;
  text-align: center;
  // position: absolute;
  position: relative;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }
}
*/

.j-w3-animate-top {
    position: relative;
    animation: animatetop 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.cltop {
    position: fixed;
    /* canviar a sticky */
    top: 0;
    /* sticky ??? */
    width: 100%;
    z-index: 1
}

.clnavBar {
    width: 100%;
    overflow: hidden
}

.j-w3-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.j-w3-white {
    color: #000!important;
    background-color: #fff!important
}

.img-height {
    height: 90%;
    width: auto !important;
}

#Logo {
    width: 10%;
}

#imatge-grid {
    width: 80%;
    height: auto;
}

#imgCursor {
    position: relative;
    float: right;
    width: 60px;
    height: 60px;
}

div.proves {
    width: 100%;
    height: 50vw;
    margin: auto;
    background: white;
    position: relative;
    animation: mymove 5s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

div.resta {
    width: 100%;
    height: 50px;
    background: white;
}

h1 {
    color: grey;
    font-size: 7vw;
}

h1.principal {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9vw;
}

h2.principal {
    color: white;
    font-family: Cambria;
    font-size: 6vw;
}

a {
    text-decoration: none;
    color: grey;
}

@keyframes mymove {
    from {
        background: white;
    }
    to {
        background: transparent;
    }
}

.photo {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 5%;
    width: auto;
}

.photo-contacte {
    width: 80% !important;
}

.filterLanguage {
    display: none;
}

.show {
    display: block;
}

select {
    background-color: white;
    border: none;
    /* padding: 3px; */
    cursor: pointer;
    /* border-style: outset;
    border-width: 2px;
    border-radius: 25%; */
    color: blue;
    font-weight: bold;
    transition-duration: 0.4s;
    font-size: 15px;
}

/*
select:hover {
    /* background-color: lightgrey;
    border-radius: 25%;
    */
    color: red;
    font-size: 19px;
}
*/